body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 1px;
  padding-top: 15px;
}

.title {
  background: #e3f4ff;
  margin: 9px;
  padding: 15px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  margin: 9px;
  padding: 15px;
}

.button-container {
  background: #e3f4ff;
  margin: 9px;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  height: 35px;
  width: 150px;
  display: block;
  margin: 0px auto;
}